<!DOCTYPE html>
<html>
<head>
    <title>@ViewBag.Title - My ASP.NET Application</title>
    <link href="@Url.Content("~/Content/Site.css")" rel="stylesheet" type="text/css" />
    <script src="@Url.Content("~/Scripts/jquery-1.10.2.js")" type="text/javascript"></script>
</head>
<body>

    <div>
        @Html.Partial("_TopMenu")
    </div>

    <div class="container body-content">
        @RenderBody()
    </div>

    <div>
        @RenderSection("Footer", false)
    </div>
</body>
</html>

<script>
    $("document").ready(function(){
      //  alert("jquery is working");
    });
</script>